<div class="uu">
<swiper-container class="uu" [slidesPerView]="2" [loop]="true">
  <swiper-slide class="uu"><img src="https://pngimg.com/uploads/minions/minions_PNG29.png"></swiper-slide>
  <swiper-slide class="uu"><img src="https://th.bing.com/th/id/OIP.2PqmehVEIipmoL6fpUO9kAAAAA?w=368&h=424&rs=1&pid=ImgDetMain" alt=""></swiper-slide>
  <swiper-slide class="uu"><img src="https://th.bing.com/th/id/OIP.fmbjQEj2EdFJuByNR89IowHaG6?rs=1&pid=ImgDetMain" alt=""></swiper-slide>
</swiper-container>
</div>